@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Cormorant";
    src: url('../fonts/Cormorant-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant";
    src: url('../fonts/Cormorant-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

:root {
    --primary_green: #BAE249;
    --green_text: #506829;
    --green_active: #688B05;
    --green_focus: #83A440;
    --green_hover: #91AC46;
    --background: #1D2F30;
    --background-shade: #0B1919;
    --grey: #899D9D;
    --white: #FFFFFF;
    --red: #E24949;
    --black: #000000;
    --transition-duration: .1s;

}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: Open Sans;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style Header */

.header {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.header__container {
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    flex-direction: row;
}

.header__menu {
    display: flex;
    flex-grow: 1;
    margin: auto;
    justify-content: center;
}

.header__logo {
    outline: none;
}

.logo {
    color: var(--white);
}

.logo:hover {
    fill: var(--primary_green);
}

.header__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 64px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu__link {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    line-height: 150%;
    text-wrap: nowrap;
    transition: all var(--transition-duration);
}

.menu__link:hover {
    color: var(--primary_green);
}

.menu__link:focus-visible {
    color: var(--white);
    outline: 1px solid var(--green_focus);
    outline-offset: 4px;
}

.menu__link:active {
    color: var(--green_active);
}

/* Style Content */

.content-container {
    position: relative;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 320px;
}

.content-container::before,
.cta-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background, rgba(29, 47, 48, 1));
    opacity: 0.7;
}

.content-container>*,
.cta-container>* {
    position: relative;
    z-index: 2;
}

.content-container__content {
    max-width: 1110px;
    height: 550px;
    display: flex;
    margin: 0 auto;
}

.content-container__info {
    max-width: 688px;
    display: flex;
    flex-direction: column;
    margin-top: 115px;
}

.content__title {
    color: var(--white);
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 16px;
    width: fit-content;
    max-width: 100%;
}

.content__description {
    max-width: 635px;
    color: var(--white);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
}

/* Style Card Container */

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 30px;
}

.card-container__card {
    width: 255px;
    min-height: 496px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--background_shade, rgba(11, 25, 25, 1));
}

.card-container__img {
    width: 255px;
    height: 180px;
    text-align: center;
    align-content: center;
    background: var(--background_shade, rgba(11, 25, 25, 1));
}

.card-container__img img {
    width: 223px;
    height: 134px;
}

.card-container__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 16px;
}

.card-container__title {
    color: var(--white);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    padding: 16px 0 8px 0;
}

.card-container__description {
    color: var(--grey, rgba(137, 157, 157, 1));
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 16px;
    flex-grow: 1;
}

.card-container__button {
    margin-top: auto;
    margin-bottom: 25px;
}

/* Style Content Block */

.heading-block {
    margin: 0 auto;
}

.heading-block__title,
.cta-container__title {
    color: var(--white);
    font-family: Cormorant;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 30px;
    font-style: italic;
}

.content-block {
    display: grid;
    grid-template-columns: auto 255px;
    gap: 30px;
    max-width: 1110px;
    margin: 0 auto;
}

.content-block__image-container {
    height: 493px;
}

.content-block__image {
    max-width: 825px;
    height: 493px;
}

.content-block__text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px 16px 25px 16px;
    background-color: var(--primary_green);
}

.content-block__heading {
    color: var(--background, rgba(29, 47, 48, 1));
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.content-block__description {
    color: var(--green_text, rgba(80, 104, 41, 1));
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    flex-grow: 1;
}

/* Style CTA Block */

.cta-container {
    position: relative;
    background-image: url(../images/hero-bottom.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 60px;
    min-width: 320px;
}

.cta-container__content {
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 463px;
    padding-top: 60px;
    margin: 0 auto;
}

.cta-container__title {
    margin-bottom: 16px;
}

.cta-container__description {
    max-width: 825px;
    color: var(--white);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
    align-items: center;
}

.cta-container__input {
    margin-bottom: 24px;
}

.cta-container__button {
    margin-top: auto;
    margin-bottom: 60px;
}

/* Style Footer */

.footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__social {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 16px 0;
    background-color: var(--background-shade);
}

.copyright__info {
    color: var(--grey);
    background-color: transparent;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 3px;
}


.con {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

/* Style Default Buttons */
.button {
    font-size: 16px;
    font-weight: 400;
    font-family: Open Sans;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.1s;
    background-color: transparent;
}

.button--default--size {
    width: 145px;
    height: 45px;
}

.button--default {
    border: 1px solid var(--primary_green);
    color: var(--primary_green);
}

.button--default:hover {
    background-color: var(--primary_green);
    color: var(--background-shade);
}

.button--default:focus-visible {
    background: transparent;
    color: var(--primary_green);
    outline: 1px solid var(--green_focus);
    outline-offset: 2px;
}

.button--default:active {
    border: none;
    background-color: var(--green_active);
    color: var(--background-shade)
}

.button--default:disabled {
    color: var(--grey);
    border-color: var(--grey);
    cursor: not-allowed;
    pointer-events: none;
}

/* Style Text Arrow Buttons  */

.button--text--arrow {
    width: 160px;
    height: 23px;
    border: none;
    box-sizing: content-box;
    color: var(--primary_green);
    gap: 8px;
    font-weight: 700;
    padding: 0px;
    transition: width 0.2s ease
}

.button--text--arrow:hover {
    width: 170px;
    color: var(--green_hover)
}

.button--text--arrow:hover .arrow {
    width: 53px;
}

.button--text--arrow:focus-visible,
.content-block__button:focus-visible {
    padding: 2px 7px 2px 7px;
    outline: 1px solid var(--green_focus);
    outline-offset: 1px;
}

.button--text--arrow:active {
    color: var(--green_active);
}

.button--text--arrow:active .arrow {
    width: 43px;
}

.button--text--arrow:disabled,
.content-block__button:disabled {
    color: var(--grey);
    cursor: not-allowed;
    pointer-events: none;
}

.arrow {
    width: 43px;
    transition: width 0.2s ease
}

/* Button--text--arrow-alt (MIX) */

.content-block button {
    width: 176px;
    color: var(--black);
    line-height: 22px;
    margin-top: 75px;
}

.content-block button:hover {
    width: 186px;
    color: var(--green_hover)
}

.content-block button:active {
    color: var(--black);
}

/* Pagination container */

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 30px;
}

.pagination-container-alt {
    display: none;
    gap: 30px;
    padding-left: 32px;
    margin-top: 15px;
    margin-bottom: 60px;
    justify-content: center;
    max-width: 255px;
}

.pagination__pages {
    color: var(--white);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

/* Pagination Buttons */

.button--arrow {
    width: 25px;
    height: 25px;
    border: none;
    box-sizing: content-box;
    color: var(--grey);
    padding: 0px;
    transition: width 0.2s ease
}

.button--arrow--rotate {
    transform: rotate(180.00deg);
}

.button--arrow:hover {
    width: 35px;
    color: var(--primary_green)
}

.button--arrow:hover .small--arrow {
    width: 35px;
}

.button--arrow:focus-visible {
    padding: 0px 3px;
    outline: 1px solid var(--green_focus);
    outline-offset: 1px;
}

.button--arrow:active {
    width: 25px;
    color: var(--green_active);
}

.button--arrow:disabled {
    color: var(--grey);
    cursor: not-allowed;
    pointer-events: none;
}

.small--arrow {
    width: 25px;
    height: 25px;
    transition: width 0.2s ease
}

/* Style Alternative Buttons */

.button--fill {
    background-color: var(--primary_green);
    border: none;
    font-weight: 700;
}

.button--fill:hover {
    background-color: var(--green_hover);
}

.button--fill:focus-visible {
    outline: 1px solid var(--green_focus);
    outline-offset: 2px;
}

.button--fill:active {
    background-color: var(--green_active);
}

.button--fill:disabled {
    background-color: var(--grey);
}

.button--social {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0px;
    color: var(--grey);
}

.button--social:hover {
    color: var(--primary_green);
}

.button--social:focus-visible {
    outline: 1px solid var(--green_focus);
    outline-offset: 1px;
}

.button--social:active {
    color: var(--green_active);
}

.button--icon {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0px;
    color: var(--primary_green);
}

.button--icon:hover {
    color: var(--green_hover);
}

.button--icon:focus-visible {
    outline: 1px solid var(--green_focus);
    outline-offset: 1px;
}

.button--icon:active {
    color: var(--green_active);
}

.button--circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: var(--background-shade);
}

#card-item-1 {
    background-color: var(--primary_green);
}


/* Style Inputs */

.input {
    max-width: 350px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    font-family: Open Sans;
    border: none;
    box-sizing: border-box;
    padding-left: 16px;
    transition: all 0.2s;
}

.input--default {
    color: var(--grey);
    background-color: var(--white);
}

.input--default:hover {
    color: var(--white);
    background-color: var(--grey);
}

.input--default:focus-visible {
    background-color: var(--white);
    color: var(--grey);
    font-weight: 400;
    outline: 1px solid var(--green_focus);
    outline-offset: 2px;
}

.input--default:focus {
    color: var(--background-shade);
    background-color: var(--grey);
    font-weight: 700;
}

.input--default:focus::placeholder {
    color: var(--background-shade);
}

.input--error {
    color: var(--background-shade);
    background-color: var(--grey);
    font-weight: 700;
    border: 1px solid var(--red);
}

.input--error:focus-visible {
    border: 1px solid var(--red);
    outline: none;
}

.input--error:focus::placeholder {
    color: var(--background-shade);
}

/* Style Scrolbar */

.header__menu::-webkit-scrollbar,
.content-block__image-container::-webkit-scrollbar {
    height: 3px;
    background-color: var(--background);
}

.header__menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary_green);
}

.header__menu::-webkit-scrollbar-track {
    background-color: var(--background);
    margin: 0 32px;
}

.header__menu::-webkit-scrollbar-thumb:hover {
    background-color: var(--green_hover);
}

.content-block__image-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--grey);
}

.content-block__image-container::-webkit-scrollbar-track {
    background-color: var(--background);
}

.content-block__image-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-shade);
}

@media screen and (max-width: 1118px) {
    .card-container {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1110px) {
    .heading-block {
        padding-left: 32px;
        padding-right: 32px;
    }

    .content-container__info {
        padding-left: 32px;
        padding-right: 32px;
    }

    .card-container {
        padding-left: 32px;
    }

    .content-block {
        grid-template-columns: none;
    }

    .content-block__image-container {
        height: auto;
        overflow-x: auto;
    }

    .content-block__text-container {
        min-width: 0;
    }

    .cta-container__content {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 686px) {
    .header__container {
        min-height: 100px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header__menu {
        display: flex;
        width: 100%;
        justify-content: space-around;
        overflow-x: scroll;
        order: 2;
    }

    .header__logo {
        padding-left: 32px;
    }

    .header__buttons {
        padding-right: 32px;
    }

    .menu__list {
        padding: 16px 32px;
        width: fit-content;
        gap: 32px;
    }

    .header__buttons {
        gap: 32px;
    }

    .content-container__content {
        height: fit-content;
    }

    .content-container__info {
        margin-top: 30px;
        padding-left: 32px;

    }

    .content__title {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .content__description {
        display: none;
    }

    .content-container__button {
        margin-bottom: 30px;
    }

    .card-container {
        padding-left: 32px;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 575px) {
    .pagination-container {
        display: none;
        margin-bottom: 60px;
    }

    .pagination-container-alt {
        display: flex;
    }

}
